{% extends 'layout.html' %}



{% block content %}
    <div class="row animated fadeInUp">
        <div class="col-sm-12 col-lg-12">
            <div class="col-sm-8 col-sm-offset-2">
                <form action="" method="post" novalidate class="form-horizontal form-stripe">
                    {% csrf_token %}
                    {% for field in form_obj %}
                        <div class="form-group {% if field.errors %}has-error{% endif %}">
                            <label for="{{ field.id_for_label }}"
                                   class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {{ field }}
                                <span class="help-block">
                            {{ field.errors.0 }}
                        </span>
                            </div>
                        </div>
                    {% endfor %}
                    {{ form_obj.errors }}
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"></label>
                        <div class="col-md-7">
                            <button type="submit" class="btn btn-primary" style=" border:0;background-color: #17a2b8">
                                提交
                            </button>
                            <button class="btn btn-outline-secondary"><a href="{% url 'customer' %}">取消
                            </a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}